{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="perviq">
<h1>Наши статьи</h1>
</div>
</div>
{% for post in posts %}
{%load staticfiles%}
<div class="container">
  <div class="jumbotron">
<h1 class="display-4">{{ post.title }}</h1>
    <p class="lead"> {{ post.text | linebreaksbr }}</p>
    <hr class="my-4">
    <p>Опубликовано: {{ post.published_date }}</p>
    <p class="leadd">  
        <a class="btn btn-primary btn-lg" href="{% url 'post_detail' pk=post.pk %}" role="button">Перейти</a>
    </p>
  </div>

            
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  {% endfor %} {% endblock %}
